@import url("variables.css");
main {
  margin-top: 152px;
  margin-bottom: 152px;
}
.caixa {
  display: flex;
  align-items: center;
  gap: 91px;
  justify-content: center;
  font-family: Roboto;
}
.section-qr-code {
  display: flex;
  flex-direction: column;
  width: 500px;
  padding: 63px 68px 63px 72px;
  align-items: center;
  gap: 32px;
  border-radius: 20px;
  background: #135a32;
  color: var(--text-color);
  a {
    pointer-events: none; /* Impede o clique */
    cursor: default;
    list-style: none;

    padding: 15px 28px;
    color: #135a32;
    text-align: center;
    font-size: 20px;
    font-style: italic;
    line-height: 30px; /* 125% */
    border-radius: 20px;
    border: 1px solid #135a32;
    background: #9fdea1;
    gap: 2px;
  }
}
.text-1 {
  width: 100%;
  font-size: 30px;
  font-style: normal;
  font-weight: 300;
  line-height: 40px; /* 100% */
  text-align: start;
}
.text-2 {
  width: 100%;
  font-size: 30px;
  font-style: normal;
  font-weight: 1000;
  text-align: start;
}
.sectio-tex {
  display: flex;
  flex-direction: column;
  color: #135a32;
  h1 {
    margin-bottom: 35px;
    font-weight: 600;
  }
  p {
    margin-bottom: 27px;
    font-size: 35px;
    font-style: normal;
    font-weight: 300;
    line-height: 40px; /* 100% */
  }
  h1:nth-of-type(2) {
    margin-top: 35px;
    margin-bottom: 45px;
  }
  span {
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px; /* 150% */
  }

  ul {
    font-size: 19px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px; /* 150% */
    li {
      list-style: disc;
    }
  }
  .progress {
    max-width: 490px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #135a32;
    background: #d9d9d9;
    .progress-bar {
      width: 0px; /* width=490 x valor doado/2000*/
      height: 49px;
      position: absolute;
      border-radius: 8px;
      background: #135a32;
    }
  }
  .value {
    max-width: 490px;
    display: flex;
    justify-content: space-between;
    p {
      color: #000;
      font-size: 20px;
      font-style: normal;
      font-weight: 200;
      line-height: 29.25px; /* 146.25% */
    }
  }
}
@media screen and (max-width: 620px) {
  main {
    margin-top: 70px;
    margin-bottom: 70px;
  }
  .caixa {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: center;
  }
  .text-1,
  .text-2 {
    text-align: center;
  }
  .sectio-tex {
    max-width: 95%;
    h1 {
      font-weight: 200;
    }
  }
}
