main {
  margin-top: 5.3125rem;
  height: 100%;
}


@media screen and (max-width: 1172px) {
  main {
    margin-top: 4.375rem;
  }
}

@media screen and (max-width: 620px) {
  main {
    margin-top: 70px;
  }
}
